html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

* {
  box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F0F0EE;
}

body > header {
	padding: 10px;
	background-color: white;
	text-align: center;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	margin-bottom: 10px;
}
h1 , h2 {
	font-family: 'Dosis', sans-serif;
	color: #00B2F8;
}

h1 {
	font-size: 2em;
	cursor: default;
}

.input {
	max-width: 600px;
	display: flex;
	justify-content: center;
	padding: 10px;
	margin: 10px auto;
}

.input-text {
	flex-grow: 1;
}

input, .button {
	box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	border: none;
	border-radius: 20px;
	font-size: 1.2em;
} 
input:focus, .button:focus {
	outline: none;
}
input {
	padding: 5px 15px;
	width: 100%;
	color: #bbb;
	transition: 0.2s;
}
input:focus {
	box-shadow: 0 2px 2px #00B2F8;
}
.button {
	margin: 0 10px;
	padding: 0 10px;
	color: white;
	background-color: #69f0ae;
	position: relative;
	text-align: center;
}
.weather-forecast {
	display: flex;
	flex-direction: column;
	padding: 10px;
	max-width: 700px;
	margin: 0 auto;
}

.city, .week, .today, .selected {	
	box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	border-radius: 20px;
	background-color: white;
	padding: 10px 20px;
}
.city {
	margin-bottom: 10px;
}
h2 {
	font-size: 2em;
}
.coords,
.today-date {
	color: #bbb;
} 
.today-date {
	font-size: 1.2em;
}
.today-weather {
	display: flex;
	font-size: 1.2em;
	flex-wrap: wrap;
}
.today-main {
	width: 70%;
}
.today-temp {
	font-size: 4em;
	color: #00B2F8;
}
.today-description {
	font-size: 2em;
}
.temp-icon-wrap {
	display: flex;
}
.today-icon {
	height: 70px;
	margin-left: 10px;
}
.today-weather ul li{
	line-height: 150%;
	position: relative;
	margin-left: 30px;
}

.humidity::after,
.pressure::after,
.clouds::after,
.wind::after {
	content: ' ';
	width: 20px;
	height: 20px;
	background-size: contain;
	left: -25px;
	position: absolute;
	top: 5px;
}
.humidity::after {	
	background-image: url('../img/humidity.png');
}
.clouds::after {	
	background-image: url('../img/clouds.png');
}
.wind::after {
	background-image: url('../img/wind.png');
}
.pressure::after {
	background-image: url('../img/pressure.png')
}
.button img {
	width: 20px;
	display: none;
}
@media screen and (max-width: 400px) {
	.button span {display: none}
	.button img {
		display: block;
	}
}